#un_validation {
	color: red;
	position: absolute;
	top: 105px;
	left: 270px;
}

#pw_validation {
	color: red;
	position: absolute;
	top: 140px;
	left: 265px;
}

#customer {
	width: 300px;
	padding: 25px;
	border: 25px;
	margin: 25px;
}

#user {
	width: 300px;
	padding: 25px;
	border: 25px;
	margin: 25px;
}

#account {
	width: 300px;
	padding: 25px;
	border: 25px;
	margin: 25px;
}